<% provide(:title, "home") %>
<% if !user_signed_in? || !@inverse %>
  <h1>ecapskroW sliaR</h1>
  <p>bre.lmth.emoh\segap\sweiv\ppa ni em dniF</p>
<% else %>
  <h1>Rails Workspace</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
<% end %>
