<% provide(:title, "home") %>
<div>
  <% if !user_signed_in? || !@inverse %>
    <h1>ecapskroW sliaR</h1>
    <p>bre.lmth.emoh\segap\sweiv\ppa ni em dniF</p>
  <% else %>
    <h1>Rails Workspace</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
  <% end %>
</div>
<% if user_signed_in? %>
  <% if @user.tasks.any? %>
    <h2>Remaining Task : <%= @user.tasks.count %></h2>
    <ol class="tasks">
      <%= render @tasks %>
    </ol>
  <% end %>
<% end %>
