<% provide(:title, "home") %>
<div>
  <% if !user_signed_in? || !@inverse %>
    <h1>ecapskroW sliaR</h1>
    <p>bre.lmth.emoh\segap\sweiv\ppa ni em dniF</p>
  <% else %>
    <h1>Rails Workspace</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
  <% end %>
</div>
<% if user_signed_in? %>
  <section class="center">
    <%= render 'tasks/task_form' %>
  </section>
  <section>
    <% if @user.tasks.count > 0 %>
      <h2>Remaining Task : <%= @user.tasks.count %></h2>
      <div class="row">
        <div class="col-md-2"></div>
        <ol class="col-md-8 task">
          <%= render @tasks %>
        </ol>
        <div class="col-md-2"></div>
      </div>
    <% end %>
  </section>
<% end %>
